html, body{
    margin: 0;
}

* {
    box-sizing: border-box;
}

nav a{
    font-family: Calibri;
    font-size: 18px;

    padding: 20px;
    margin: 20px;
    background-color: rgb(86, 216, 86);
    color: black;
    text-align: center;
    border-radius: 2px solid black;
}