html, body{
    margin: 0;
}

* {
    box-sizing: border-box;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    background-color: #465c71; /* background color */
    border: 1px #4e667d solid; /* border */
    color: #dde4ec; /* text color */
    display: block; /* This element will be displayed as a block-level element with line breaks before and after this element */
    line-height: 1.35em; /* line height */
    padding: 4px 20px; /* inner padding distance */
    text-decoration: none; /* Do not display hyperlink underline */
    white-space: nowrap; /* For the blank space in the text, it will not wrap, and the text will continue on the same line until it encounters <br>  Label so far. */
}